@*@model shopping.Models.Product*@
@*@model shopping.Models.Subcategory*@


@using MVC_Project.Helpers;
@*@using shopping.Models;*@
@{

    //@ViewData["Title"] = "Products";
    AppDBContext DB = new();
    @ViewData["getproduct"];
    @ViewData["products"]
    ;

  
/*    <int> ss = sub.SubCategoryId*/ 
//@*new List<int>()*@;
    

    //List<Product> prod = null ;
    //foreach (Product pro in @ViewData["products"] as IEnumerable<shopping.Models.Product>)
    //{
    //    prod.Add(pro);
    //}


   
    

}

@*<div class="row ">*@



          


@*            @foreach (Subcategory sub in ViewBag.subcat)

            {
                   int I = 0;
             List<int> subcat = new List<int>() ;
             subcat.Add(sub.SubCategoryId);

              for (int i = 0; i < subcat.Count; i++)
            {
                @foreach (Product subc   in   ViewData["products"] as IEnumerable<shopping.Models.Product>)
                {

                        if (!subcat.Contains(subc.SubCategory.SubCategoryId))
                {
                    <li class="nav-item">
                        <a class="nav-link active"
                           aria-current="page"
                           href="/Category/Categores/@sub.SubCategoryId">
                            @sub.SubCategoryName
                        </a>
                    </li>

                }

                }
                    }
            I++;

            }*@

         
@*            @foreach (Product sub in ViewBag.subcat
           )
            {
                int I = 0;
                List<int> subcat = new List<int>();
                subcat.Add(sub.SubCategoryId);
                for (int i = 0; i < subcat.Count ;i++)
                {
                if (  i == sub.SubCategoryId)
                {
                   <li class="nav-item"> 
                    <a class="nav-link active" 
                    aria-current="page"
                    href="/Category/Categores/@sub.SubCategoryId"  >
                    @sub.SubCategory.SubCategoryName  </a>
                    </li>
                }
                }
                I++;

            }*@
          @*      <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>*@
<nav  style="width :100% ; display:flex; justify-content:space-around" 
class="navbar navbar-expand-lg bg-body-tertiary container ">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

     @*       <select class="nice-select select-search-category">*@
                @foreach (Subcategory cat in DB.Subcategories)
                {
                  
                   @* <optgroup label="@cat.CategoryName">*@
                  @*      @foreach (Subcategory Cat in cat.SubCategories)
                        {*@
                       @*     <option value="@Cat.SubCategoryId">@Cat.SubCategoryName </option>*@
                        
                              <li class="nav-item">
                <a class="nav-link active"
                   aria-current="page"
                   href="/Category/Categores/@cat.SubCategoryId">
                                    @cat.SubCategoryName
                </a>
            </li>
                        
                               
                       
                   @* </optgroup>*@
                }
          @*  </select>*@
                
    @*      

            <li class="nav-item">
                <a class="nav-link active"
                   aria-current="page"
                   href="/Category/Categores/5">
                    seafood
                </a>
            </li>*@


            </ul>
        @*    <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>*@
        </div>
    </div>
</nav>



@foreach (Product product in ViewData["products"] as IEnumerable<shopping.Models.Product> )
{
    
    int counter = 1;
    Image img = DB.Images.FirstOrDefault(I => I.ProductId == product.ProductId);
    string imageDataURL = ImageHandler.GetImageURI(img);



  

                                                 <div  class="row   product-layout-list">
                                                    <div class="col-lg-3 col-md-5 ">
                                                        <div class="product-image">
                                                               <a href="/Product/Details/@product.ProductId">
                                                            <img src="@imageDataURL" alt="@img?.Title">
                                                        </a>
                                                            <span class="sticker">New</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-7">
                                                        <div class="product_desc">
                                                            <div class="product_desc_info">
                                                                <div class="product-review">
                                                                    <h5 class="manufacturer">
                                                                                <a href="product-details.html">@product.SubCategory.SubCategoryName</a>
                                                                    </h5>
                                                                    <div class="rating-box">
                                                                        <ul class="rating">
                                                                            <li><i class="fa fa-star-o"></i></li>
                                                                            <li><i class="fa fa-star-o"></i></li>
                                                                            <li><i class="fa fa-star-o"></i></li>
                                                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                                    <h4><a class="product_name" href="single-product.html">@product.ProductName</a></h4>
                                                                <div class="price-box">
                                                                            <span class="new-price">@product.price  EGP</span>
                                                                </div>
                                                                    <p>@product.description</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <div class="shop-add-action mb-xs-30">
                                                            <ul class="add-actions-link">
                                                                <li class="add-cart"><a href="#">Add to cart</a></li>
                                                                <li class="wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i>Add to wishlist</a></li>
                                                                <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i>Quick view</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>


                                                counter++;


}



    <div style="width:20%;display:inline-block" ; class="col-lg-3 col-lg-3 order-first  ">
    <!--sidebar-categores-box start  -->
    <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
        <div class="sidebar-title">
            <h2>Laptop</h2>
        </div>
        <!-- category-sub-menu start -->
        <div class="category-sub-menu">
            <ul>
                <li class="has-sub">
                    <a href="# ">Prime Video</a>
                    <ul>
                        <li><a href="#">All Videos</a></li>
                        <li><a href="#">Blouses</a></li>
                        <li><a href="#">Evening Dresses</a></li>
                        <li><a href="#">Summer Dresses</a></li>
                        <li><a href="#">T-Rent or Buy</a></li>
                        <li><a href="#">Your Watchlist</a></li>
                        <li><a href="#">Watch Anywhere</a></li>
                        <li><a href="#">Getting Started</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="#">Computer</a>
                    <ul>
                        <li><a href="#">TV &amp; Video</a></li>
                        <li><a href="#">Audio &amp; Theater</a></li>
                        <li><a href="#">Camera, Photo</a></li>
                        <li><a href="#">Cell Phones</a></li>
                        <li><a href="#">Headphones</a></li>
                        <li><a href="#">Video Games</a></li>
                        <li><a href="#">Wireless Speakers</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="#">Electronics</a>
                    <ul>
                        <li><a href="#">Amazon Home</a></li>
                        <li><a href="#">Kitchen &amp; Dining</a></li>
                        <li><a href="#">Bed &amp; Bath</a></li>
                        <li><a href="#">Appliances</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- category-sub-menu end -->
    </div>
    <!--sidebar-categores-box end  -->
    <!--sidebar-categores-box start  -->
    <div class="sidebar-categores-box">
        <div class="sidebar-title">
            <h2>Filter By</h2>
        </div>
        <!-- btn-clear-all start -->
        <button class="btn-clear-all mb-sm-30 mb-xs-30">Clear all</button>
        <!-- btn-clear-all end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area">
            <h5 class="filter-sub-titel">Brand</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Prime Video (13)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Computers (12)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">Electronics (11)</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Categories</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">Graphic Corner (10)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#"> Studio Design (6)</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Size</h5>
            <div class="size-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-size"><a href="#">S (3)</a></li>
                        <li><input type="checkbox" name="product-size"><a href="#">M (3)</a></li>
                        <li><input type="checkbox" name="product-size"><a href="#">L (3)</a></li>
                        <li><input type="checkbox" name="product-size"><a href="#">XL (3)</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">Color</h5>
            <div class="color-categoriy">
                <form action="#">
                    <ul>
                        <li><span class="white"></span><a href="#">White (1)</a></li>
                        <li><span class="black"></span><a href="#">Black (1)</a></li>
                        <li><span class="Orange"></span><a href="#">Orange (3) </a></li>
                        <li><span class="Blue"></span><a href="#">Blue  (2) </a></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
        <!-- filter-sub-area start -->
        <div class="filter-sub-area pt-sm-10 pb-sm-15 pb-xs-15">
            <h5 class="filter-sub-titel">Dimension</h5>
            <div class="categori-checkbox">
                <form action="#">
                    <ul>
                        <li><input type="checkbox" name="product-categori"><a href="#">40x60cm (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">60x90cm (6)</a></li>
                        <li><input type="checkbox" name="product-categori"><a href="#">80x120cm (6)</a></li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- filter-sub-area end -->
    </div>
    <!--sidebar-categores-box end  -->
    <!-- category-sub-menu start -->
    <div class="sidebar-categores-box mb-sm-0 mb-xs-0">
        <div class="sidebar-title">
            <h2>Laptop</h2>
        </div>
        <div class="category-tags">
            <ul>
                <li><a href="# ">Devita</a></li>
                <li><a href="# ">Cameras</a></li>
                <li><a href="# ">Sony</a></li>
                <li><a href="# ">Computer</a></li>
                <li><a href="# ">Big Sale</a></li>
                <li><a href="# ">Accessories</a></li>
            </ul>
        </div>
        <!-- category-sub-menu end -->
    </div>
</div>




@*
</div>*@
