@model List<Wishlist>
@using MVC_Project.Helpers;
@{
    ViewData["Title"] = "Wishlist";
}

<div class="wishlist-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="li-product-remove">remove</th>
                                    <th class="li-product-thumbnail">Image</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="li-product-price">Unit Price</th>
                                    <th class="li-product-stock-status">Stock Status</th>
                                    <th class="li-product-add-cart">add to cart</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model != null) {
                                        foreach (var item in Model) {
                                            var product = item.Product;
                                            var img = product.GetMainImage();
                                            string imageDataURL = ImageHandler.GetImageURI(img);
                                            <tr>
                                                <td class="li-product-remove">
                                                    <a asp-area="" asp-controller="Wishlist" asp-action="RemoveFromWishlist" asp-route-id="@product.ProductId">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </td>
                                                <td class="li-product-thumbnail"><a><img style="width:100px;height:100px;"
                                                            src="@imageDataURL" alt=""></a></td>
                                                <td class="li-product-name"><a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductId">@product.ProductName</a></td>
                                                <td class="li-product-price"><span class="amount">@product.Price EGP</span></td>
                                                @if(product.IsInStock())
                                                {
                                                    <td class="li-product-stock-status">
                                                        <span class="in-stock">In Stock</span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="li-product-stock-status">
                                                        <span class="out-stock">Out of Stock</span>
                                                    </td>
                                                }

                                                <td class="add-cart active add-to-cart"><a>Add to Cart</a></td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>