@using MVC_Project.Models.Identity;
@model Account;
@{
	<main class="main">
		<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg');margin-bottom:40px;">
			<div class="container">
				<h1 class="page-title mb-5">My Account <span>Shop</span></h1>
			</div><!-- End .container -->
		</div><!-- End .page-header -->
		@section fluid {
			<div class="breadcrumb-area">
				<div class="container">
					<div class="breadcrumb-content">
						<ul>
							<li><a href="/">Home</a></li>
							<li class="active">Dashboard</li>
						</ul>
					</div>
				</div>
			</div>
		}
		@if(User.Identity.IsAuthenticated)
		{
			<div class="page-content">
				<div class="dashboard">
					<div class="container">
						<div class="row">
							<aside class="col-md-4 col-lg-3">
								<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
									<li class="nav-item">
										<a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/Account/Logout">Sign Out</a>
									</li>
								</ul>
							</aside><!-- End .col-lg-3 -->

							<div class="col-md-8 col-lg-9">
								<div class="tab-content">
									<div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
										<p>
											Hello <span class="font-weight-normal text-dark">@User.Identity.Name</span> (not <span class="font-weight-normal text-dark">@User.Identity.Name</span>? <a href="/Account/Logout">Log out</a>)
											<br>
											From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.
										</p>
									</div><!-- .End .tab-pane -->

									<div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
										<p>No order has been made yet.</p>
										<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
									</div><!-- .End .tab-pane -->


									<div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
										<p class="text-center">
											<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#AddAddress" aria-expanded="false">
												Add Address
											</button>
											<div class="alert alert-success text-center" role="alert" id="ResponseMsg" style="display:none">
											</div>
										</p>
										<div class="collapse mb-3" id="AddAddress">
											<div class="card card-body">
													<div class="form-row">
														<div class="form-group col-md-8">
															<label for="Address">Address</label>
															<input type="text" class="form-control" id="Address" name="Addr" placeholder="1234 Main St">
														</div>
														<div class="form-group col-md-4">
															<label for="AppartmentSuite">AppartmentSuite</label>
															<input type="text" class="form-control" id="AppartmentSuite" name="AppartmentSuite">
														</div>
													</div>
													<div class="form-row">
														<div class="form-group col-md-6">
															<label for="TownCity">Town/City</label>
															<input type="text" class="form-control" id="TownCity" placeholder="Masr Al Qadima" name="TownCity">
														</div>
														<div class="form-group col-md-4">
															<label for="inputState">State</label>
															<input type="text" class="form-control" id="inputState" placeholder="CA" name="State">
														</div>
														<div class="form-group col-md-2">
															<label for="inputZip">Zip</label>
															<input type="text" class="form-control" id="inputZip" name="Zipcode">
														</div>
													</div>
													<button type="submit" class="btn btn-primary" id="AddAddressBtn">Add Address</button>
											</div>
										</div>


											<div class="accordion" id="accordionExample">
											@if(Model!=null)
											{
												if(Model.Addresses.Count > 0)
												{
													foreach (Address A in Model.Addresses)
													{
														<div class="card position-relative">
															<div class="card-header" id="@A.Id">
																<h2 class="mb-0">
																	<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-@A.Id" aria-expanded="true" aria-controls="collapseOne">
																		@A.Addr @{
																			if (A.IsDefault)
																			{
																				<span class="text-success" style="position: absolute; right: 10px;">Default</span>
																			}
																		}
																	</button>
																</h2>
															</div>

															<div id="collapse-@A.Id" class="collapse" aria-labelledby="@A.Id" data-parent="#accordionExample">
																<div class="card-body">
																	<p><strong>Address: </strong>@A.Addr</p>
																	<p><strong>Appartment/Suite: </strong>@A.AppartmentSuite</p>
																	<p><strong>Town/City: </strong>@A.TownCity</p>
																	<p><strong>State: </strong>@A.State</p>
																	<p><strong>Zipcode: </strong>@A.Zipcode</p>
																	<p class="text-center">
																	@if (!A.IsDefault)
																	{
																		<button type="button" class="btn btn-primary makeDefaultBtn" data-id="@A.Id">Make Default</button>
																		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#EditAddressmodal-@A.Id">Edit</button>
																			<button type="button" class="btn btn-danger DeleteAddress" data-id="@A.Id" data-toggle="modal" data-target="#DeleteAddressmodal-@A.Id">Delete</button>
																		} else
																		{
																			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#EditAddressmodal-@A.Id">Edit</button>
																		}

																		<!-- Edit Address Modal -->
																		<div class="modal fade" id="EditAddressmodal-@A.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
																			<div class="modal-dialog modal-dialog-centered" role="document">
																				<div class="modal-content">
																					<div class="modal-header">
																						<h5 class="modal-title" id="ModelLongtitle-@A.Id">@A.Addr</h5>
																						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																							<span aria-hidden="true">&times;</span>
																						</button>
																					</div>
																					<div class="modal-body">
																						<div class="card card-body">
																							<div class="form-row">
																								<div class="form-group col-md-8">
																									<label for="Address">Address</label>
																									<input type="text" class="form-control" id="EditedAddress" name="Addr" value="@A.Addr" wfd-id="id1">
																								</div>
																								<div class="form-group col-md-4">
																									<label for="AppartmentSuite">AppartmentSuite</label>
																									<input type="text" class="form-control" id="EditedAppartmentSuite" value="@A.AppartmentSuite" name="AppartmentSuite" wfd-id="id2">
																								</div>
																							</div>
																							<div class="form-row">
																								<div class="form-group col-md-6">
																									<label for="TownCity">Town/City</label>
																									<input type="text" class="form-control" id="EditedTownCity" value="@A.TownCity" name="TownCity" wfd-id="id3">
																								</div>
																								<div class="form-group col-md-4">
																									<label for="inputState">State</label>
																									<input type="text" class="form-control" id="EditedinputState" value="@A.State" name="State" wfd-id="id4">
																								</div>
																								<div class="form-group col-md-2">
																									<label for="inputZip">Zip</label>
																									<input type="text" class="form-control" id="EditedinputZip" value="@A.Zipcode" name="Zipcode" wfd-id="id5">
																								</div>
																							</div>
																						</div>

																					</div>
																					<div class="modal-footer">
																						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																						<button type="button" class="btn btn-primary EditAddressBtn" data-id="@A.Id" data-dismiss="modal">Save changes</button>
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- Delete Address Modal -->
																		<div class="modal fade" id="DeleteAddressmodal-@A.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
																			<div class="modal-dialog modal-dialog-centered" role="document">
																				<div class="modal-content">
																					<div class="modal-header">
																						<h5 class="modal-title" id="ModelLongtitle-@A.Id">@A.Addr</h5>
																						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																							<span aria-hidden="true">&times;</span>
																						</button>
																					</div>
																					<div class="modal-body">
																						<div class="card card-body">
																							Are you sure you want to delete this address?
																						</div>
																					</div>
																					<div class="modal-footer">
																						<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
																						<button type="button" class="btn btn-danger DeleteAddressBtn" data-id="@A.Id" data-dismiss="modal">Yes</button>
																					</div>
																				</div>
																			</div>
																		</div>


																	</p>
																</div>
																
															</div>
														</div>
													}
												} else
												{
													<p class="text-center">No addresses</p>
												}

											}

											</div>
									</div><!-- .End .tab-pane -->

									<div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
										<form action="#">
											<div class="row">
												<div class="col-sm-6">
													<label>First Name *</label>
													<input type="text" class="form-control" required>
												</div><!-- End .col-sm-6 -->

												<div class="col-sm-6">
													<label>Last Name *</label>
													<input type="text" class="form-control" required>
												</div><!-- End .col-sm-6 -->
											</div><!-- End .row -->

											<label>Display Name *</label>
											<input type="text" class="form-control" required>
											<small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

											<label>Email address *</label>
											<input type="email" class="form-control" required>

											<label>Current password (leave blank to leave unchanged)</label>
											<input type="password" class="form-control">

											<label>New password (leave blank to leave unchanged)</label>
											<input type="password" class="form-control">

											<label>Confirm new password</label>
											<input type="password" class="form-control mb-2">

											<button type="submit" class="btn btn-outline-primary-2">
												<span>SAVE CHANGES</span>
												<i class="icon-long-arrow-right"></i>
											</button>
										</form>
									</div><!-- .End .tab-pane -->
								</div>
							</div><!-- End .col-lg-9 -->
						</div><!-- End .row -->
					</div><!-- End .container -->
				</div><!-- End .dashboard -->
			</div>

			<!-- End .page-content -->
		}
	</main>

	<!-- End .main -->
}
@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			//function will be called on button click having id btnsave
			//debugger;
			$("#AddAddressBtn").click(function () {
				$.ajax(
					{
						type: "POST", //HTTP POST Method
						url: "/Account/AddAddress", // Controller/View
						data: { //Passing data
							Address: $("#Address").val(),
							AppartmentSuite: $("#AppartmentSuite").val(),
							TownCity: $("#TownCity").val(),
							State: $("#inputState").val(),
							Zipcode: $("#inputZip").val()
						},
						success:function(result) {
							$("#ResponseMsg").toggle().text(result.message)
							document.getElementById("accordionExample").innerHTML += `
							<div class="card">
														<div class="card-header" id="${result.addedadd.id}">
									<h2 class="mb-0">
														<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-${result.addedadd.Id}" aria-expanded="true" aria-controls="collapseOne">
															${result.addedadd.addr}
										</button>
									</h2>
								</div>

																<div id="collapse-${result.addedadd.id}" class="collapse" aria-labelledby="${result.addedadd.id}" data-parent="#accordionExample">
									<div class="card-body">
														<p><strong>Address: </strong>${result.addedadd.addr}</p>
																<p><strong>Appartment/Suite: </strong>${result.addedadd.appartmentSuite}</p>
												<p><strong>Town/City: </strong>${result.addedadd.townCity}</p>
												<p><strong>State: </strong>${result.addedadd.state}</p>
										<p><strong>Zipcode: </strong>${result.addedadd.zipcode}</p>
									</div>
								</div>
							</div>`
						}

					});
			});

			$(".makeDefaultBtn").click(function () {
				var defaultaddress = $(this).attr("data-id");
				$.ajax(
					{
						type: "POST", //HTTP POST Method
						url: "/Account/SetDefaultAddress/"+defaultaddress, // Controller/View
						data: { //Passing data
							id: defaultaddress
						},
						success: function (result) {
							$("#ResponseMsg").toggle().text(result.message)						}

					});
			});

			$(".EditAddressBtn").click(function () {
				var addressId = $(this).attr("data-id");
				$.ajax(
					{
						type: "POST", //HTTP POST Method
						url: "/Account/EditAddress/" + addressId, // Controller/View
						data: { //Passing data
							Address: $("#EditedAddress").val(),
							AppartmentSuite: $("#EditedAppartmentSuite").val(),
							TownCity: $("#EditedTownCity").val(),
							State: $("#EditedinputState").val(),
							Zipcode: $("#EditedinputZip").val()
						},
						success: function (result) {
							$("#ResponseMsg").toggle().text(result.message)
						}

					});
			});

			$(".DeleteAddressBtn").click(function () {
				var addressId = $(this).attr("data-id");
				$.ajax(
					{
						type: "POST", //HTTP POST Method
						url: "/Account/DeleteAddress/" + addressId, // Controller/View
						success: function (result) {
							$("#ResponseMsg").toggle().text(result.message)
						}

					});
			});
		});
	</script>
}